env
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


build/
*.pyc
.idea/
.DS_Store
gbmbkgpy.egg-info
.ipynb_checkpoints
dist
.py~

/.ipynb_checkpoints/

/dist/
/obsolete/earth_occ.py
